.blur {
	position: absolute;
	width: 1000px;

	box-shadow: -500px -32px 1000px 100px #207797;
	width: 50vmin;
}

.container {
	max-width: 50%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	padding: 5rem 2rem;
}

@media only screen and (max-width: 600px) {
	.container {
		max-width: 100%;
	}

	.blur {
		/* box-shadow: -250px -32px 1000px 100px #207797; */
	}
}

.content {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.content_title {
	font-weight: 700;
	font-size: max(9vmin, 50px);
}

.content_title_inverted {
	text-decoration: dotted;
	color: #282828;
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 2px;
}


.content_subtitle {
	font-size: max(3vmin, 30px);
}

.content_subsubtitle {
	font-style: italic;
	font-size: max(2vmin, 14px);
}