.blur {
  position: absolute;
  width: 1000px;

  box-shadow: -500px -32px 1000px 100px var(--color-accent);
  width: 50vmin;

  z-index: -1000;
}

.container {
  max-width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 5rem 2rem;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

.content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-title {
  font-weight: 700;
  font-size: var(--font-size-title);
}

.content-title-inverted {
  color: var(--background-color);
  text-shadow: 1px 0 0 var(--color), 0 1px 0 var(--color), -1px 0 0 var(--color),
    0 -1px 0 var(--color);
}

.content-subtitle {
  font-size: var(--font-size-subtitle);
}

.content-subsubtitle {
  font-style: italic;
  font-size: var(--font-size-subsubtitle);
}
