@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --background-light: #02435a;
  --foreground: #efefef;
  --foreground-accent: #0096cc;

  --font-size-subtitle: 60px;
  --font-size-subsubtitle: 30px;

  --border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --background-light: #02435a;
    --foreground: #ededed;
    --foreground-accent: #207797;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size-title: 60px;
    --font-size-subtitle: 30px;
    --font-size-subsubtitle: 15px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.blur-bubble {
  width: 200px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  filter: blur(40px); /* Effetto sfocato */
  background-color: var(--foreground-accent);
  opacity: 0.7; /* Opacità */
}

.text-outline {
  text-shadow: 1px 0 0 var(--foreground), 0 1px 0 var(--foreground),
    -1px 0 0 var(--foreground), 0 -1px 0 var(--foreground);
}
