.nav-wrapper {
  max-width: 1200px;
  height: 90px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 10;

  background: transparent;
  backdrop-filter: blur(5px);

  font-weight: 400;
}

.nav-wrapper::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  border-radius: 10px;
}

.nav-logo {
  max-width: 70px;
}

.nav-logo img {
  border-radius: 20px;
  cursor: default;
}

.nav-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3rem;

  font-weight: 700;
  font-size: var(--font-size-subsubtitle);
}

@media only screen and (max-width: 600px) {
  .nav-links {
    font-size: var(--font-size-subtitle);
  }
}

.nav-link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--color);
}

.nav-link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  transition: all 0.3s ease;
  border-radius: 10px;
}

.nav-link a:hover::after {
  width: 70%;
}

.right-section .dark-mode {
  background-color: var(--background-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  border-radius: var(--border-radius);

  transition: color 2s;
}

.right-section .dark-mode span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section .dark-mode span.active {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
}
