.header-wrapper {
	background-color: #181818;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	font-size: calc(10px + 2vmin);
	color: rgb(0, 0, 0);
}

.header-nav {
	width: 100%;
	background-color: #303030;
	color: #73C936
}

.header-sticked {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	font-size: calc(1px + 2vmin);
} 


img {
	width: 66px;
}