body {
	background-color: #181818;

	font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
	font-size: calc(15px + 0.390625vw);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;

	color: #fff;
}

a {
	text-decoration: none;
}