:root {
  --background-color: #efefef;
  --background-color-light: #69b3ce;
  --color: #000000;
  --color-accent: rgb(0, 138, 189);

  --font-size-title: 100px;
  --font-size-subtitle: 60px;
  --font-size-subsubtitle: 30px;

  --border-radius: 15px;
}

.dark-mode-variables {
  --background-color: #181818;
  --background-color-light: #02435a;
  --color: #fff;
  --color-accent: #207797;
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size-title: 60px;
    --font-size-subtitle: 30px;
    --font-size-subsubtitle: 15px;
  }
}

body {
  background-color: var(--background-color);

  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", sans-serif;

  font-size: var(--font-size-subtitle);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;

  color: var(--color);
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.color-accent {
  color: var(--color-accent);
}
